@{
    ViewBag.Title = RoomManage.Resources.HomeTexts.About;
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="about-box">
                <h3> من نحن ؟ <i class="fa fa-home"></i></h3>
                <p>
                    @RoomManage.Resources.HomeTexts.aboutwepsite
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-box">
                <h3> مميزات الموقع او الخدمات التي يقدمها الموقع<i class="glyphicon glyphicon-phone-alt"></i></h3>

                <ul class="">
                    <li><i>تسجيل الإشتراك ثم تسجيل الدخول </i></li>
                    <li><i> حساب المستخدم   </i></li>
                    <li><i> نشر عقار بكل انواعها منأجل البيع او الإيجار  </i></li>
                    <li><i>إدارات العقارات التي نشرها الزائر</i></li>
                    <li><i>طلب العقار من اجل الشراء او الإيجار </i></li>
                    <li><i>ارسال الرسائل بين الناشر للعقار و المتقدم للعقار من اجل الإتفاق</i></li>
                    <li><i>البحث عن عقار معين</i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
