@{
    ViewBag.Title = "من نحن";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="about-box">
                <h3> معلومات عن مبرمج الموقع<i class="fa fa-home"></i></h3>
                <p>
                   @RoomManage.Resources.HomeTexts.AboutMe
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="about-box">
                <h3> وسائل التواصل الإجتماعي تبع المبرمج<i class="glyphicon glyphicon-phone-alt"></i></h3>

                <ul class="">
                    <li><i>رقم الهاتف 0966303644 </i></li>
                    <li><i> صفحة الفيس بوك   </i></li>
                    <li><i> رقم الواتس اب 0966303644 </i></li>
                    <li><i>البريد الإلكتروني cliprzh@gmail.com </i></li>
                    <li><i>حساب تويتر</i></li>
                    <li><i>حساب ايمو 0966303644</i></li>
                   
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="about-box">
                <h3> الإمكانيات البرمجية<i class="glyphicon glyphicon-phone-alt"></i></h3>

                <ul class="">
                    <li><i>مبرمج مواقع و تطبيقات الأندرويد</i></li>
                    <li><i>html5 ,css3   ,bootstrap</i></li>
                    <li><i>sass</i></li>
                    <li><i> javascript , jquery</i></li>
                    <li><i>php and laravel freamework </i></li>
                    <li><i>c# and asp.net mvc and asp.core</i></li>
                    <li><i>android with java and kotline</i></li>
                </ul>
            </div>
        </div>

    </div>
</div>